@charset "UTF8" ;

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kings&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');

* {
    font-family: 'Fraunces', serif;    
}

body {
    background-image: linear-gradient(to bottom, #8eb7ee, #fdfdfd );
    margin-top: 0px ;
}

.flex-container {
    display: flex;
    background-image: linear-gradient(to bottom, #a7c7f1, #e9ecf1 );
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

header {
    background-image: linear-gradient(to bottom, #309ac7, #0d5c7e);
    min-height: 170px;
    margin-bottom: 0px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
    box-shadow: 3px 3px 10px rgba(90, 84, 84, 0.938);
    
}

header h1 {
    color: white;
    background-color: #09394d00;
    font-weight: normal;
    margin-top: 10px;   
    font-size: 3em;
    text-shadow: 3px 3px 1px rgb(0, 0, 0);
}

header p {
    color: white;
    font-size: 1.3em;
    max-width: 500px;
    margin: auto;
    margin-bottom: 0px;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.308);    
}

nav {
    margin: 0px;
    padding-top : 54px;
    text-align: center;
    font-size: 1.1em;
}

nav a {
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 5px;
    background-color: #0d5c7e;
    margin-left: 10px;
    margin-right: 10px;
}

nav a:hover {
    background-color: #09394D;
    color: white;
    transition: .5s;
    text-decoration: none;
    font-size: 1em;
    padding-bottom: 29px;
}

.menu-bandas {
    padding-top: 10px;
    margin-bottom: 10px;
}

.menu-bandas a {
    background-color: #09394D;
    color: white; 
    margin-left: 2px;
    margin-right: 2px; 
    padding-left: 15px;
    padding-right: 15px;
}

.menu-bandas a:hover {
    background-color: #062735;
    color: white;
    padding-bottom: 20px;
}

main {
    background-color: rgba(255, 255, 255, 0.904);
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 10px rgba(160, 155, 155, 0.849);
    width: 700px;
    padding: 10px;
    
    margin: auto;
    text-align: justify;
}

h1 {
    background-color: #09394D;
    color: white;
    text-align: center;
    font-family: 'Kaushan Script', serif;
    margin-bottom: 5px;
    margin-top: 10px;
}

h2 {
    width: 300px;
    font-family: 'Kaushan Script', serif;
    color: #09394D;
    padding: 10px;
    text-align: left;
    text-indent: 30px;
    margin: 0px;
}

p {    
    text-align: justify;
    color: #09394D;
    font-size: 16px;
    text-indent: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0pt;
    padding: 0pt;  
}

ul {
    text-align: justify;
    color: #09394D;
    font-size: 18px;
}

div {
    position: relative;
    text-align: center;
}

footer#rodape { 
    width: 700px;
    padding: 0px;
    margin: auto;
    text-align: center;    
}

footer#rodape p {    
    padding: 3px;
    margin: auto;
    text-align: center;
}


a {
    color: #09394D;
    text-decoration: none;
    font-weight: bold;
    
}

a#canais {
    font-family: 'Kaushan Script', serif;
}

a:hover {
    text-decoration: underline;
    color: indigo;
    font-size: 1.1em;
}

a.img {
    height: 200px;
    width: 200px;
}

a.img:hover {
    box-shadow: 0px 3px 6px 1px rgb(68, 65, 65);
    height: 200px;
    width: 200px;
}



